  /* for app.js file */
* {
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}
  
.App {
      background-color: #fefefe;
      height: 100vh;
      width: 100%;
  }

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}
  
/* div styling for the pages */
.menu-page, 
.home-page,
.friends-page, 
.community-page,
.account-page,
.login-container, 
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh; /* Minimum height of the page to fill the viewport */
    text-align: center;
}

.spotify-login-container {
    color: white; 
    background: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    text-align: center;
}


button[type=submit] {
    border-radius: 30px;
    border: 1px solid #004d39;
    background-color: #6D968F;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 30px;
    width: auto;
    text-transform: uppercase;
}


input {
    background-color: #ccc;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 10px;
    width: 300px;
}


/* For alert message when user either signups or logs in */
.alert {
    font-size: 15px; 
    color: red;
}
  
/* For login and signup pages */
.link-btn {
    color: black;
    background: none;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 14px;
}