/* For the community page */
.container-page{
  align-items: center; 
  justify-content: center; 
  margin-top: 80px;
}

.community-description {
  font-size: 16px;
  text-align: center;
  justify-content: center;
}

.community-description p {
  font-size: 18px;
}

/* h4 tag for community pages - had to define a className as it was overriding other css classes w h4 tags */
.community-h4 {
  margin-top:25px;
  text-align: center;
  color: #333;
  margin-bottom:10px;
}

h5 {
  text-align: center;
  color: #333;
}

.follow-container {
  padding: 20px;
  text-align: center;
}
  
.community-title {
  margin-bottom: 30px;
  color: #333;
}
  
.genre-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  margin-top: 15px;
}
  
.genre-card {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  
.genre-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.follow-button {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.follow-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.playlists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
  
.playlist-card {
  width: 200px; /* Set the width of the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
}
  
.playlist-image {
  width: 100%;
  height: 200px; /* Set a fixed height, or use 'auto' to keep the aspect ratio */
  object-fit: cover; /* This makes sure the image covers the area, can also use 'contain' */
}
  
.playlist-info {
  padding: 10px;
}
  
.playlist-info h3 {
  margin: 10px 0;
  font-size: 1rem;
}
  
.playlist-link {
  display: inline-block;
  background: #1DB954; /* Spotify green */
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}
  
.playlist-link:hover {
  background: #1ed760;
}

.featured-track-container{
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 510px; 
  padding: 20px;
  text-align: center;
}

.community-comments-container{
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 510px; 
  padding: 20px;
}
.community-comments-container .comment {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
  
.track-card {
  display: flex;
  align-items: center;
  width: 100%;
}
  
.track-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-right: 20px;
  transform: translateY(10px);
}

.track-info {
  flex-grow: 1;
}

.track-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.track-artist {
  font-size: 18px;
  color: #666;
  margin-bottom: 16px;
}

  
.spotify-play-button {
  background-color: #1DB954; /* Spotify brand green */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 120px; 
  padding: 8px 16px;
}

.spotify-play-button:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

.rating {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rating input {
  display: none; /* Hide the radio buttons */
}

.rating label i {
  padding: 0 10px;
  font-size: 1.5rem;
  color: #ccc; /* Default color for stars */
  cursor: pointer;
}

.rating label .fas {
  color: #ffc107; /* Gold color for selected stars */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .playlists-container {
    flex-direction: column;
    align-items: center;
  }
  .track-card {
    flex-direction: column; /* Stack the image and info vertically */
    align-items: center; /* Center alignment of the contents */
  }
  .track-title {
    margin-top: 20px;
  }
}

input.community-input {
  width: 100%;
}

.container-page .community-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  text-transform: none;
  border-radius: 20px;
}

.container-page .community-btn:hover {
  background-color: #0056b3;
}



.follower-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follower-modal h2 {
  color: #333;
  margin-bottom: 15px;
}



.follower-modal ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.follower-modal li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.follower-modal button {
  padding: 8px 16px;
  margin-top: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.follower-modal button:hover {
  background-color: #45a049;
}

.follower-count {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follower-count:hover {
  background-color: #e2e2e2;
}

.icon {
  transition: transform 0.3s ease;
}
.icon.up {
  transform: rotate(180deg);
}

.toggleText {
  cursor: pointer;
  color: #2C3E50;
  background-color: #ECF0F1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.collapsible-content {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear, max-height 0.5s ease-out;
  
}

.collapsible-content.open {
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
  transition: visibility 0s linear 0s, opacity 0.5s linear, max-height 0.5s ease-in;
}