/* STYLING FOR NAVBAR CLASS */

/* Div for the backround of the navbar component */
nav {
    display: flex; /* places content to the right */
    justify-content: space-between; 
    align-items: center;
    background: black;
    color: white;
    position: sticky;
    margin: 0;
    padding-right: 40px;
    padding-left: 40px;
}

/* Div for items in the navbar */
nav ul {
    display: flex;
    align-items: center;
    background: black;
}

/* Div for styling the invdividual items in the navbar */
nav ul li {
   display: flex;
   height: 50%;
}

/* Div that styles the list items ion navbar */
nav ul li a {
    text-decoration: none; /* Removes the underline */
    color: white;
    padding: 0.9rem;
    margin: 0 0.5rem;
    display: block; /* Make the link a block element */
    height: 50%; /* Make the link cover the entire width */
    font-size: 20px;
}

li a:not(.active):hover,
li :hover {
    background: #333333; /* Background color when link is hovered */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}

li a.active {
    background-color: #333333; /* Background color for the active link */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}


/* Div that displays menu / navbar in a column - this will be displayed when screen is a smaller size */
nav .menu {
    display: flex;
    position: absolute;
    top: 2.4rem; /* Makes hamburger menu centered */
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.25rem;
    height: 2rem;
    margin-right: 30px;
    cursor: pointer;
}

/* Button where the account logo is placed in navbar */
.account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 5px;
}

.dropdown {
    margin-bottom: 5px;
}

/* Dropdown container */
.account-dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown content container (hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    padding: 10px 10px;
    z-index: 1;
    width: auto;
    overflow: visible;
    justify-content: center; /* Center the items horizontally */
    white-space: nowrap; /* Ensures that the items remain in a row */
    right: -30px; /* Ensures theres a gap between the right edge and the full screen */
    padding-bottom: 10px;
    font-size: 20px;
}

/* Show the dropdown menu on hover */
.account-dropdown:hover .dropdown-content {
    display: block; 
    background: black;
    border-radius: 0.5rem; /* Makes the border curvy */
}
  
/* Dropdown link for account dropdown menu */
.dropdown-link {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    background: black;
    margin-bottom: 10px; /* Creates a gap between the dropdown links */
}
 
/* Change color of dropdown links on hover */
.dropdown-content .dropdown-link:hover {
    background-color: #333333;
}

/* Media query that handles navigation menu when screen is smaller */
@media (max-width: 50em) {
    nav .menu {
        display: flex;
    }
    
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
        padding-top: 1rem; /* Add padding to the top of nav links */
        padding-bottom: 1rem; /* Add padding to the bottom of nav links */
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding-bottom: 5px; /* Add padding to the bottom of nav links */
        padding-left: 15px;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    /* Hambuger menu - will appear when screen size is smaller */
    nav .menu span {
        height: 0.3rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.2rem;
        align-items: center;
        justify-content: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        justify-content: center; /* Center the items horizontally */
        white-space: nowrap; /* Ensures that the items remain in a row */
        transform: translateY(-80%); /* Center vertically */
        left: 100%; /*Ensures dropdown conntent is placed on the right of account-dropdown/image */
        padding-bottom: 2px; /* Add padding to the bottom of nav links */
        padding: 5px; /* Adjust padding as needed */
    }
    
    /* Show the dropdown menu on hover */
    .account-dropdown:hover .dropdown-content {
        display: flex; /* Show the dropdown content as a flex container */
        flex-direction: row; /* Arrange items in a row */
        align-items: center; /* Center the items vertically */
        position: absolute;
        pointer: cursor;
    }
      
    /* Dropdown links */
    .dropdown-link {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        background: black;
    }

    NavLink {
        position: left;
        justify-conntent: center;
    }
}