.user-page {
    width: 100%;
    max-width: 600px; /* Optional: set a max-width for better responsiveness */
    max-height: 700px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #4d4d4d;
}

.profile-image {
    width: 100%;
    height: auto;
}

.user-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.user-details p,
.user-details strong {
    font-size: 18px;
}

.user-details p {
    padding-left: 25px; 
}

.user-details label {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-details p {
    margin: 0 0 10px 0;
}


.form-container {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%; 
}

/* For alert message when user either signups or logs in */
.alert {
    font-size: 15px; 
    color: red;
}

.edit-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.profile-image-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.profile-image-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    

.change-button:hover {
    background-color: #0056b3;
}


.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.edit-textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ccc;
    resize: none;
}